header {
    background-color: var(--rood);
}

nav {
    border: 2px solid blue;
    display: flex;
    justify-content: end;
    padding: 5px;
}

ul {
    border: 2px solid yellow;
    color: var(--wit);
    display: flex;
    justify-content: space-between;
    flex: 0 1 250px;
    list-style-type: none;
    text-transform: uppercase;
}

.active-navlink {
    color: var(--licht-oranje);
    text-decoration: none;
}

.header-content {

}

