@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&display=swap');/*---COLORS---*/
:root {
  --rood: #dd3038;
  --oranje: #e7613a;
  --licht-oranje: #FDF4F2;
  --zwart: #292929;
  --wit: #FFFFFF;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto condensed', 'Helvetica', sans-serif;
}

h1, h2, h3 {
  font-family: 'Quicksand', 'Helvetica' ,sans-serif;
}

/*---REUSABLES---*/
.outer-container {
  border: 2px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%
}

.inner-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid green;
  width: 1200px;
  margin: 0px 30px;
}

