@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&display=swap');/*---COLORS---*/
/*Rood #dd3038;*/
/*Oranje #e7613a;*/
/*Licht oranje #FDF4F2;*/
/*Zwart #292929 (voor standaard tekst);*/
/*Wit #FFFFFF;*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto condensed', 'Helvetica', sans-serif;
}

h1, h2, h3 {
  font-family: 'Quicksand', 'Helvetica' ,sans-serif;
}

/*---REUSABLES---*/
.outer-container {
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  width: 100%
}

.inner-container {
  border: 2px solid green;
  width: 1200px;
  margin: 0px 30px;
}

